In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('athletes.csv')
df.head()

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze
0,736041664,A Jesus Garcia,ESP,male,10/17/69,1.72,64.0,athletics,0,0,0
1,532037425,A Lam Shin,KOR,female,9/23/86,1.68,56.0,fencing,0,0,0
2,435962603,Aaron Brown,CAN,male,5/27/92,1.98,79.0,athletics,0,0,1
3,521041435,Aaron Cook,MDA,male,1/2/91,1.83,80.0,taekwondo,0,0,0
4,33922579,Aaron Gate,NZL,male,11/26/90,1.81,71.0,cycling,0,0,0

In [6]:
del df['dob'], df['id'], df['name']
df.head()

  nationality     sex  height  weight      sport  gold  silver  bronze
0         ESP    male    1.72    64.0  athletics     0       0       0
1         KOR  female    1.68    56.0    fencing     0       0       0
2         CAN    male    1.98    79.0  athletics     0       0       1
3         MDA    male    1.83    80.0  taekwondo     0       0       0
4         NZL    male    1.81    71.0    cycling     0       0       0

In [7]:
df['nationality']=df['nationality'].astype(str)

In [8]:
df.isnull().sum()

nationality      0
sex              0
height         330
weight         659
sport            0
gold             0
silver           0
bronze           0
dtype: int64

In [9]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imputer.fit(df.iloc[:, 2:4])
df.iloc[:, 2:4] = imputer.transform(df.iloc[:, 2:4])

In [10]:
df.isnull().sum()

nationality    0
sex            0
height         0
weight         0
sport          0
gold           0
silver         0
bronze         0
dtype: int64

In [11]:
print(len(df.nationality.unique()))
len(df.sport.unique())

207

28

In [12]:
X = df.iloc[:, 0:5].values
Y = df.iloc[:, [5,6,7]].values

In [13]:
X

array([['ESP', 'male', 1.72, 64.0, 'athletics'],
       ['KOR', 'female', 1.68, 56.0, 'fencing'],
       ['CAN', 'male', 1.98, 79.0, 'athletics'],
       ...,
       ['CHN', 'male', 1.85, 100.0, 'wrestling'],
       ['VIE', 'male', 1.6, 56.0, 'weightlifting'],
       ['RSA', 'male', 1.85, 70.0, 'athletics']], dtype=object)

In [14]:
X = X.transpose()

In [15]:
X[0]

array(['ESP', 'KOR', 'CAN', ..., 'CHN', 'VIE', 'RSA'], dtype=object)

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[0] = le.fit_transform(X[0])

In [17]:
X

array([[59, 102, 33, ..., 38, 202, 158],
       ['male', 'female', 'male', ..., 'male', 'male', 'male'],
       [1.72, 1.68, 1.98, ..., 1.85, 1.6, 1.85],
       [64.0, 56.0, 79.0, ..., 100.0, 56.0, 70.0],
       ['athletics', 'fencing', 'athletics', ..., 'wrestling',
        'weightlifting', 'athletics']], dtype=object)

In [18]:
le = LabelEncoder()
X[4] = le.fit_transform(X[4])

In [19]:
X

array([[59, 102, 33, ..., 38, 202, 158],
       ['male', 'female', 'male', ..., 'male', 'male', 'male'],
       [1.72, 1.68, 1.98, ..., 1.85, 1.6, 1.85],
       [64.0, 56.0, 79.0, ..., 100.0, 56.0, 70.0],
       [2, 9, 2, ..., 27, 26, 2]], dtype=object)

In [20]:
le = LabelEncoder()
X[1] = le.fit_transform(X[1])

In [21]:
X

array([[59, 102, 33, ..., 38, 202, 158],
       [1, 0, 1, ..., 1, 1, 1],
       [1.72, 1.68, 1.98, ..., 1.85, 1.6, 1.85],
       [64.0, 56.0, 79.0, ..., 100.0, 56.0, 70.0],
       [2, 9, 2, ..., 27, 26, 2]], dtype=object)

In [22]:
gender = df['sex'].values
nationality = df['nationality'].values
sports =  df['sport'].values

In [23]:
cat_gen = dict(zip(gender, X[1]))

In [24]:
cat_gen

{'male': 1, 'female': 0}

In [25]:
cat_nat = dict(zip(nationality, X[0]))
cat_spt = dict(zip(sports, X[4]))

In [26]:
cat_nat

{'ESP': 59,
 'KOR': 102,
 'CAN': 33,
 'MDA': 119,
 'NZL': 141,
 'AUS': 10,
 'USA': 198,
 'ETH': 61,
 'BRN': 27,
 'IOA': 86,
 'GBR': 68,
 'UZB': 199,
 'RSA': 158,
 'EGY': 56,
 'MAR': 116,
 'QAT': 155,
 'SUD': 175,
 'ALG': 2,
 'DEN': 51,
 'NED': 135,
 'DJI': 52,
 'SEN': 162,
 'CMR': 40,
 'ITA': 93,
 'NIG': 138,
 'SWE': 179,
 'GHA': 73,
 'AFG': 0,
 'AZE': 12,
 'KSA': 104,
 'BAN': 14,
 'NGR': 137,
 'RUS': 159,
 'IND': 85,
 'HUN': 83,
 'KAZ': 98,
 'BDI': 16,
 'ERI': 57,
 'POL': 151,
 'BRA': 26,
 'GEO': 70,
 'CZE': 50,
 'SEY': 163,
 'GAM': 67,
 'LTU': 113,
 'IRI': 87,
 'ROU': 157,
 'CUB': 48,
 'SLO': 167,
 'BAH': 13,
 'ARG': 6,
 'PUR': 154,
 'FRA': 64,
 'RWA': 160,
 'TOG': 188,
 'MDV': 120,
 'TUN': 191,
 'ISR': 91,
 'LAT': 106,
 'JOR': 96,
 'MAS': 117,
 'LIB': 111,
 'LBA': 107,
 'PLE': 148,
 'IRQ': 89,
 'TUR': 192,
 'VEN': 201,
 'JPN': 97,
 'TPE': 189,
 'KGZ': 100,
 'CHN': 38,
 'MEX': 121,
 'GRE': 74,
 'IRL': 88,
 'JAM': 95,
 'SUI': 176,
 'BAR': 15,
 'HON': 82,
 'ANG': 4,
 'GER': 72,
 'COL': 43,
 'URU': 197,
 'MNE': 127,
 'SRB': 171,
 'BUL': 29,
 'FIN': 63,
 'UKR': 196,
 'BLR': 23,
 'SMR': 168,
 'COK': 42,
 'SAM': 161,
 'AUT': 11,
 'BEL': 17,
 'KEN': 99,
 'SVK': 178,
 'POR': 152,
 'ECU': 55,
 'UAE': 194,
 'NAM': 133,
 'GUY': 79,
 'EST': 60,
 'SKN': 165,
 'ARU': 8,
 'PAN': 144,
 'PER': 146,
 'TAN': 182,
 'FIJ': 62,
 'GUI': 77,
 'NOR': 139,
 'ARM': 7,
 'THA': 184,
 'SIN': 164,
 'TKM': 186,
 'CRO': 47,
 'BIH': 21,
 'TGA': 183,
 'MAW': 118,
 'DOM': 54,
 'GUA': 76,
 'MKD': 124,
 'TJK': 185,
 'CYP': 49,
 'CHI': 37,
 'MLT': 126,
 'ZIM': 206,
 'TTO': 190,
 'CRC': 46,
 'BOL': 24,
 'BUR': 30,
 'ISL': 90,
 'HAI': 80,
 'ROT': 156,
 'MGL': 122,
 'MAD': 115,
 'GAB': 66,
 'SRI': 172,
 'LAO': 105,
 'MRI': 130,
 'PAR': 145,
 'IVB': 94,
 'GBS': 69,
 'TLS': 187,
 'MLI': 125,
 'SYR': 181,
 'BOT': 25,
 'CHA': 36,
 'OMA': 142,
 'COD': 41,
 'CIV': 39,
 'GEQ': 71,
 'UGA': 195,
 'GUM': 78,
 'ASA': 9,
 'ZAM': 205,
 'VAN': 200,
 'GRN': 75,
 'BIZ': 22,
 'VIN': 203,
 'MON': 128,
 'ALB': 1,
 'STP': 174,
 'SLE': 166,
 'BER': 19,
 'HKG': 81,
 'ISV': 92,
 'CGO': 35,
 'ANT': 5,
 'BEN': 18,
 'LUX': 114,
 'PHI': 147,
 'CAF': 31,
 'PRK': 153,
 'LIE': 112,
 'MHL': 123,
 'NCA': 134,
 'KIR': 101,
 'CPV': 45,
 'INA': 84,
 'FSM': 65,
 'COM': 44,
 'PLW': 149,
 'MYA': 132,
 'NRU': 140,
 'LBR': 108,
 'ESA': 58,
 'AND': 3,
 'TUV': 193,
 'SUR': 177,
 'CAY': 34,
 'NEP': 136,
 'PAK': 143,
 'SSD': 173,
 'MTN': 131,
 'VIE': 202,
 'MOZ': 129,
 'LES': 110,
 'LCA': 109,
 'BRU': 28,
 'SOL': 169,
 'BHU': 20,
 'CAM': 32,
 'KOS': 103,
 'SOM': 170,
 'PNG': 150,
 'YEM': 204,
 'SWZ': 180,
 'DMA': 53}

In [27]:
cat_data = [cat_nat, cat_gen, cat_spt]

In [28]:
cat_data

[{'ESP': 59,
  'KOR': 102,
  'CAN': 33,
  'MDA': 119,
  'NZL': 141,
  'AUS': 10,
  'USA': 198,
  'ETH': 61,
  'BRN': 27,
  'IOA': 86,
  'GBR': 68,
  'UZB': 199,
  'RSA': 158,
  'EGY': 56,
  'MAR': 116,
  'QAT': 155,
  'SUD': 175,
  'ALG': 2,
  'DEN': 51,
  'NED': 135,
  'DJI': 52,
  'SEN': 162,
  'CMR': 40,
  'ITA': 93,
  'NIG': 138,
  'SWE': 179,
  'GHA': 73,
  'AFG': 0,
  'AZE': 12,
  'KSA': 104,
  'BAN': 14,
  'NGR': 137,
  'RUS': 159,
  'IND': 85,
  'HUN': 83,
  'KAZ': 98,
  'BDI': 16,
  'ERI': 57,
  'POL': 151,
  'BRA': 26,
  'GEO': 70,
  'CZE': 50,
  'SEY': 163,
  'GAM': 67,
  'LTU': 113,
  'IRI': 87,
  'ROU': 157,
  'CUB': 48,
  'SLO': 167,
  'BAH': 13,
  'ARG': 6,
  'PUR': 154,
  'FRA': 64,
  'RWA': 160,
  'TOG': 188,
  'MDV': 120,
  'TUN': 191,
  'ISR': 91,
  'LAT': 106,
  'JOR': 96,
  'MAS': 117,
  'LIB': 111,
  'LBA': 107,
  'PLE': 148,
  'IRQ': 89,
  'TUR': 192,
  'VEN': 201,
  'JPN': 97,
  'TPE': 189,
  'KGZ': 100,
  'CHN': 38,
  'MEX': 121,
  'GRE': 74,
  'IRL': 88,
  'JAM': 95,
  'SUI': 176,
  'BAR': 15,
  'HON': 82,
  'ANG': 4,
  'GER': 72,
  'COL': 43,
  'URU': 197,
  'MNE': 127,
  'SRB': 171,
  'BUL': 29,
  'FIN': 63,
  'UKR': 196,
  'BLR': 23,
  'SMR': 168,
  'COK': 42,
  'SAM': 161,
  'AUT': 11,
  'BEL': 17,
  'KEN': 99,
  'SVK': 178,
  'POR': 152,
  'ECU': 55,
  'UAE': 194,
  'NAM': 133,
  'GUY': 79,
  'EST': 60,
  'SKN': 165,
  'ARU': 8,
  'PAN': 144,
  'PER': 146,
  'TAN': 182,
  'FIJ': 62,
  'GUI': 77,
  'NOR': 139,
  'ARM': 7,
  'THA': 184,
  'SIN': 164,
  'TKM': 186,
  'CRO': 47,
  'BIH': 21,
  'TGA': 183,
  'MAW': 118,
  'DOM': 54,
  'GUA': 76,
  'MKD': 124,
  'TJK': 185,
  'CYP': 49,
  'CHI': 37,
  'MLT': 126,
  'ZIM': 206,
  'TTO': 190,
  'CRC': 46,
  'BOL': 24,
  'BUR': 30,
  'ISL': 90,
  'HAI': 80,
  'ROT': 156,
  'MGL': 122,
  'MAD': 115,
  'GAB': 66,
  'SRI': 172,
  'LAO': 105,
  'MRI': 130,
  'PAR': 145,
  'IVB': 94,
  'GBS': 69,
  'TLS': 187,
  'MLI': 125,
  'SYR': 181,
  'BOT': 25,
  'CHA': 36,
  'OMA': 142,
  'COD': 41,
  'CIV': 39,
  'GEQ': 71,
  'UGA': 195,
  'GUM': 78,
  'ASA': 9,
  'ZAM': 205,
  'VAN': 200,
  'GRN': 75,
  'BIZ': 22,
  'VIN': 203,
  'MON': 128,
  'ALB': 1,
  'STP': 174,
  'SLE': 166,
  'BER': 19,
  'HKG': 81,
  'ISV': 92,
  'CGO': 35,
  'ANT': 5,
  'BEN': 18,
  'LUX': 114,
  'PHI': 147,
  'CAF': 31,
  'PRK': 153,
  'LIE': 112,
  'MHL': 123,
  'NCA': 134,
  'KIR': 101,
  'CPV': 45,
  'INA': 84,
  'FSM': 65,
  'COM': 44,
  'PLW': 149,
  'MYA': 132,
  'NRU': 140,
  'LBR': 108,
  'ESA': 58,
  'AND': 3,
  'TUV': 193,
  'SUR': 177,
  'CAY': 34,
  'NEP': 136,
  'PAK': 143,
  'SSD': 173,
  'MTN': 131,
  'VIE': 202,
  'MOZ': 129,
  'LES': 110,
  'LCA': 109,
  'BRU': 28,
  'SOL': 169,
  'BHU': 20,
  'CAM': 32,
  'KOS': 103,
  'SOM': 170,
  'PNG': 150,
  'YEM': 204,
  'SWZ': 180,
  'DMA': 53},
 {'male': 1, 'female': 0},
 {'athletics': 2,
  'fencing': 9,
  'taekwondo': 22,
  'cycling': 7,
  'triathlon': 24,
  'volleyball': 25,
  'aquatics': 0,
  'rugby sevens': 18,
  'wrestling': 27,
  'football': 10,
  'shooting': 20,
  'boxing': 5,
  'equestrian': 8,
  'rowing': 17,
  'judo': 15,
  'handball': 13,
  'badminton': 3,
  'hockey': 14,
  'modern pentathlon': 16,
  'table tennis': 21,
  'canoe': 6,
  'basketball': 4,
  'golf': 11,
  'archery': 1,
  'weightlifting': 26,
  'sailing': 19,
  'tennis': 23,
  'gymnastics': 12}]

In [ ]:
X = X.transpose()
from sklearn.ensemble import RandomForestRegressor
ranForReg = RandomForestRegressor(n_estimators = 245, random_state = 40, max_depth = 14, min_samples_split = 10)
ranForReg.fit(X,Y)

In [ ]:
def Inputs(country, gender, height, weight, sport):
    c = cat_data[0].get(country.upper())
    g = cat_data[1].get(gender.lower())
    s = cat_data[2].get(sport.lower())
    h = height
    w = weight
    list_data = [c,g,h,w,s]
    pred = ranForReg.predict([list_data])
    if pred[0][0] < 0.036:
        gold = 0
    elif pred[0][0] > 0.036 and pred[0][0] < 0.12:
        gold = 1
    elif pred[0][0] > 0.12 and pred[0][0] < 0.9:
        gold = 2
    elif pred[0][0] > 0.9:
        gold = '2+'
        
    if pred[0][1] < 0.3:
        silver = 0
    elif pred[0][1] > 0.3 and pred[0][1] < 0.5:
        silver = 1
    elif pred[0][1] > 0.5 :
        silver = '1+'
        
    if pred[0][2] < 0.21:
        bronze = 0
    elif pred[0][2] > 0.21 and pred[0][2] < 4.5:
        bronze = 1
    elif pred[0][2] > 4.5 :
        bronze = '1+'
    prediction = f'No. of Gold Medals: {gold} \nNo. of Silver Medals: {silver} \nNo. of Bronze Medal: {bronze}'
    return prediction

In [ ]:
nation = input('Country: ')
gender = input('Gender: ')
height = float(input('Height: '))
weight = float(input('Weight: '))
sports = input('Sport: ')
print(Inputs(nation, gender, height, weight, sports))